/**** TAMAÑOS PANTALLA ******/
@screen-xs-max: 767px;
@screen-sm-min: 768px;
@screen-md-min: 992px;
@screen-lg-min: 1170px;

/****** COLORES ********/
@white: rgba(255,255,255,1);
@verylightgray: #eeeeee;
@lightgray: #C8C8C8;
@darkgray: #646464;
@blackgray: #333333;
@black: #0A0A0A;
@orange: #FFB400;
@darkorange: rgb(219, 132, 0);
 

/******** SOMBRAS **********/
@boxShadow: 2px 2px 5px @darkgray;
@textDarkShadow: 1px 1px 2px @darkgray;
@textLightShadow: 1px 1px 2px @lightgray;


.paragraphFont{
    margin: 0;
    padding: 0;
    text-align: justify;
}

.borderFormul{
    border-bottom-color: @darkgray;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-bottom-width: 2px;
}

.abm_btn{
    box-shadow: @boxShadow;
    text-shadow: @textDarkShadow;
    border-radius: 20px;
    font-weight: bold;
    font-size: 1.5em;
}

.gradBtn{
    background: rgb(240,249,255);
    background: -moz-linear-gradient(top, rgba(240,249,255,1) 0%, rgba(203,235,255,1) 47%, rgba(161,219,255,1) 100%);
    background: -webkit-linear-gradient(top, rgba(240,249,255,1) 0%,rgba(203,235,255,1) 47%,rgba(161,219,255,1) 100%);
    background: linear-gradient(to bottom, rgba(240,249,255,1) 0%,rgba(203,235,255,1) 47%,rgba(161,219,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f9ff', endColorstr='#a1dbff',GradientType=0 );
}


body {
    font-family: 'Montserrat', sans-serif;
}

/**********************************/
/**********************************/


/********* MEDIAQUERIES V. XS ********/
@media (max-width: @screen-xs-max) {

/******** BOTONES **********/
    .abm_premBtn, .abm_myAdressBtn, .abm_myCreditCardsBtn, .abm_newAdressBtn, {
        .abm_btn;
        margin-top: 5%;
        margin-bottom: 5%;
        white-space: normal;
        font-weight: 400;
        font-size: 1.2em;
    }

    .abm_bePremBtn{
        .abm_btn;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -100%);
        white-space: normal;
        font-weight: 600;
        font-size: 1.3em;
    }

    .abm_gradBtn{
        .gradBtn
    }

    .abm_registerBtn, .abm_loginBtn{
        .abm_btn;
        margin-top: 2.5%;
        margin-bottom: 2.5%;
        white-space: normal;
        font-weight: 400;
        font-size: 1.2em;


    }

/******** INDEX ************/
.menuIndex{
    background-color: @blackgray;
}    

/******* ADJUST PAGE ********/
    .abm_userPhoto{
        margin-top: 5%;
        margin-bottom: 2.5%;
        width: 50%;
        box-shadow: @boxShadow;
    }

    .abm_form-group{
        margin-left: 15%;
    }

    .abm_form-control{
       margin-left: 25%;
       .borderFormul
    }

/******* PREMIUM PAGE ********/
    .abm_premCoverImage{
        position: relative;
        margin-bottom: 5%;
        opacity: 0.75;
    }

    .abm_premMainText > h3{
        margin-top: 5%;
        margin-bottom: 7.5%;
        text-align: center;
        font-weight: 700;
    }

    .abm_premMainText > h4 {
        margin: 0;
        margin-top: 4%;
        margin-bottom: 3%;
        font-weight: 600;
    }

    .abm_premMainText > p{
        .paragraphFont;
        margin-bottom: 5%;
        margin-left: 7.5%;
        font-size: 1.2em;
        font-weight: 500;
        line-height: 1.2;
     }

     .abm_tittle{
        font-weight: 900;
    }

    .abm_premMiniPhotos{
        margin-top: 5%;
        margin-bottom: 3%;
    }

    /**** MIS DIRECCIONES PAGE ****/
    .abm_addressFormulContainer{
        border-style: solid;
        border-width: 1px;
        border-radius: 10px;
        border-color: @lightgray;
        padding-top: 2.5%
        
        
    }




}