.borderFormul {
  border-top: 0;
  border-bottom-width: 2px;
  border-bottom-color: #646464;
}
@media (max-width: 767px) {
  .abm_userPhoto {
    margin-top: 5%;
    margin-bottom: 2.5%;
    width: 50%;
  }
  .abm_premBtn {
    margin-top: 2.5%;
    margin-bottom: 5%;
  }
  .abm_form-group {
    margin-left: 15%;
  }
  .abm_form-control {
    margin-left: 25%;
    border-top: 0;
    border-bottom-width: 2px;
    border-bottom-color: #646464;
  }
  .abm_myAdress,
  .abm_myCreditCards {
    margin-top: 5%;
    margin-bottom: 5%;
  }
}
