/**** TAMAÑOS PANTALLA ******/
/****** COLORES ********/
/******** SOMBRAS **********/
.paragraphFont {
  margin: 0;
  padding: 0;
  text-align: justify;
}
.borderFormul {
  border-bottom-color: #646464;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-bottom-width: 2px;
}
.abm_btn {
  box-shadow: 2px 2px 5px #646464;
  text-shadow: 1px 1px 2px #646464;
  border-radius: 20px;
  font-weight: bold;
  font-size: 1.5em;
}
.gradBtn {
  background: #f0f9ff;
  background: -moz-linear-gradient(top, #f0f9ff 0%, #cbebff 47%, #a1dbff 100%);
  background: -webkit-linear-gradient(top, #f0f9ff 0%, #cbebff 47%, #a1dbff 100%);
  background: linear-gradient(to bottom, #f0f9ff 0%, #cbebff 47%, #a1dbff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f0f9ff', endColorstr='#a1dbff', GradientType=0);
}
body {
  font-family: 'Montserrat', sans-serif;
}
/**********************************/
/**********************************/
/********* MEDIAQUERIES V. XS ********/
@media (max-width: 767px) {
  /******** BOTONES **********/
  .abm_premBtn,
  .abm_myAdressBtn,
  .abm_myCreditCardsBtn,
  .abm_newAdressBtn {
    box-shadow: 2px 2px 5px #646464;
    text-shadow: 1px 1px 2px #646464;
    border-radius: 20px;
    font-weight: bold;
    font-size: 1.5em;
    margin-top: 5%;
    margin-bottom: 5%;
    white-space: normal;
    font-weight: 400;
    font-size: 1.2em;
  }
  .abm_bePremBtn {
    box-shadow: 2px 2px 5px #646464;
    text-shadow: 1px 1px 2px #646464;
    border-radius: 20px;
    font-weight: bold;
    font-size: 1.5em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
    white-space: normal;
    font-weight: 600;
    font-size: 1.3em;
  }
  .abm_gradBtn {
    background: #f0f9ff;
    background: -moz-linear-gradient(top, #f0f9ff 0%, #cbebff 47%, #a1dbff 100%);
    background: -webkit-linear-gradient(top, #f0f9ff 0%, #cbebff 47%, #a1dbff 100%);
    background: linear-gradient(to bottom, #f0f9ff 0%, #cbebff 47%, #a1dbff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f0f9ff', endColorstr='#a1dbff', GradientType=0);
  }
  .abm_registerBtn,
  .abm_loginBtn {
    box-shadow: 2px 2px 5px #646464;
    text-shadow: 1px 1px 2px #646464;
    border-radius: 20px;
    font-weight: bold;
    font-size: 1.5em;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    white-space: normal;
    font-weight: 400;
    font-size: 1.2em;
  }
  /******** INDEX ************/
  .menuIndex {
    background-color: #333333;
  }
  /******* ADJUST PAGE ********/
  .abm_userPhoto {
    margin-top: 5%;
    margin-bottom: 2.5%;
    width: 50%;
    box-shadow: 2px 2px 5px #646464;
  }
  .abm_form-group {
    margin-left: 15%;
  }
  .abm_form-control {
    margin-left: 25%;
    border-bottom-color: #646464;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-bottom-width: 2px;
  }
  /******* PREMIUM PAGE ********/
  .abm_premCoverImage {
    position: relative;
    margin-bottom: 5%;
    opacity: 0.75;
  }
  .abm_premMainText > h3 {
    margin-top: 5%;
    margin-bottom: 7.5%;
    text-align: center;
    font-weight: 700;
  }
  .abm_premMainText > h4 {
    margin: 0;
    margin-top: 4%;
    margin-bottom: 3%;
    font-weight: 600;
  }
  .abm_premMainText > p {
    margin: 0;
    padding: 0;
    text-align: justify;
    margin-bottom: 5%;
    margin-left: 7.5%;
    font-size: 1.2em;
    font-weight: 500;
    line-height: 1.2;
  }
  .abm_tittle {
    font-weight: 900;
  }
  .abm_premMiniPhotos {
    margin-top: 5%;
    margin-bottom: 3%;
  }
  /**** MIS DIRECCIONES PAGE ****/
  .abm_addressFormulContainer {
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    border-color: #C8C8C8;
    padding-top: 2.5%;
  }
}
