@screen-xs-max: 767px;
@screen-sm-min: 768px;
@screen-md-min: 992px;
@screen-lg-min: 1170px;

@media (max-width: @screen-xs-max) {
    .abm_userPhoto{
        margin-top: 5%;
        margin-bottom: 2.5%;
        width: 50%;
    }

    .abm_premBtn{
        margin-top: 2.5%;
        margin-bottom: 5%;
    }

    .form-group{
        margin-left: 15%;
    }

    .form-control{
        margin-left: 25%;

    }

    .abm_myAdress{
        margin-top: 5%;
        margin-bottom: 5%;
    }



}