
.dra-padreh1 {
    text-align: center;

}
.dra-h1 {
    color: black;
    margin-top: 40px;
    margin-bottom: 120px;
}

.dra-buttonsdiv {
    margin-top: 150px;
    float: center;
    text-align: center;
    width: 80%;
    margin-left: 10%;
    
}
.dra-button1 {
    margin-top: 3%;
    width: 50%;
    margin-right:30%;
}
.dra-button2 {
    margin-top: 3%;
    width: 50%;
    margin-left: 30%;
}


.dra {
    float: center;
    text-align: center;
    margin-top: 30px;
}
.recordarme {
    float: center;
    text-align: center;
    margin-top:35px;
}

.dra-registro {
    margin-bottom: 15px;
    width: 80%;
    height: 60px;
    float: center;
    margin-left: 10%;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: 0;
    text-align: left;
    margin-top: 100px;

}

.dra-formulario {
    margin-bottom: 0px;
    width: 80%;
    height: 60px;
    float: center;
    margin-left: 10%;
    color: black;
    text-align: center;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: 0;
    text-align: left;
    margin-top: 0px;
}
.testa {
    float:center;
    text-align: center;
    margin-top: 0%;
}

.dra-imagen {
    margin-top: 50px;
}
.dra-nombre{
    text-align: center;
    float: center;

}

.dra-tyc1 {
  text-align:center;
  width:80%;
  margin-top: 25px;
  margin-left: 150px;
  margin-right: 50px;
}

.dra-titulo {
 text-align: left;
 margin-top: 25px;
 margin-left: 30px;
}

.dra-revista1 {
 background: rgb(220, 220, 235);
 width: 100%;
}

.dra-revista2 {
background: rgb(167, 167, 189);
width: 100%;
}

.dra-revista3 {
    background: rgb(220, 220, 235);
    width: 100%;
}




